body {
  background-image: url('/public/bg.png');
  background-size: cover;
}

.title{
  text-align: center;
  font-size: 3em;
  margin-top: 1em;
  color: #2f59e4;
}

.loading {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

/* Weather Display Container */
#weather-display-container {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 2em auto;
  padding: 2%;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
}

.current-weather {
  display: flex;
  flex-direction: column;
}

/* Date and Location */
.date-location {
  font-size: 1em;
  color: #555;
  margin-bottom: 1em;
  text-transform: capitalize;
}

.location {
  font-size: 1.5em;
  font-weight: 500;
  color: #2f59e4;
  text-transform: capitalize;
}

/* Weather Details */
.current-weather {
  display: flex;
  align-items: center;
  width: 100%;
}

.temperature-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 4em; 
}

.weather-condition {
  text-transform: capitalize;
  font-size: 1.2em; 
  color: #2f59e4; 
  margin-top: 0; 
}

.weather-details {
  width: 100%;
  padding-top: 6em;
  display: flex; 
  flex-direction: column; 
  align-items: start; 
}

.weather-details .detail-item {
  position: relative;
  width: 100%;
}

.weather-details .detail-item .detail-name {
  width: 100%;
}

.weather-details .detail-item .detail-value {
  position: absolute;
  right: 0;
}

.detail-item{
  border-bottom: 1px solid #2f59e4;
}
  
/* Search */
.search-container {
  display: flex;
  justify-content: center;
  gap: 1em; 
}

.input {
  padding: 0.75em 1em;
  font-size: 1em;
  border: 2px solid #007bff;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 20px;
  width: 100%; 
  margin-bottom: 1em;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  max-width: 500px; 
}

.input:focus {
  outline: none;
  border-color: #2f59e4; 
}

button {
  font-size: 1em;
  border-radius: 20px;
  background-color: #2f59e4;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none; 
  height: 45px;
  width: auto; 

}

button:hover {
  background-color: #0e2674;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  background-color: #2f59e4; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.search-container {
  display: flex;
  justify-content: center; 
  width: 100%; 
  margin: 2em 0; 
}

.search-bar {
  width: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media (min-width: 767px) {
  .weather-display-container {
    flex-direction: row;
    flex-wrap: wrap; 
    padding: 1em;
  }

  .current-weather,
  .weather-details {
    flex: 1;
    min-width: 300px;
  }

  .temperature-section {
    font-size: 3em;
    justify-content: center;
  }

  .weather-details {
    margin-top: 0;
    margin-left: 2em;
  }

  .input {
    width: 70%; 
    border: 2px solid #2f59e4; 
  }

  button {
    width: auto; 
  }
}